{% extends "includes/doc.html" %}
{% load static %}
{% block content %}
{% include "includes/header.html" %}

    <div class="rn-about-banner-area rn-section-gapTop">
        <div class="container mb--30">
            <div class="row">
                <div class="col-12">
                    <p>- КТО МЫ ?</p>
                    <h2 class="title about-title-m" data-sal="slide-up" data-sal-duration="800" data-sal-delay="150">Мы на рынке 3 года</h2>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <p>
                                На данный момент Codex Studio объединяет более 10 экспертов, каждый из которых специализируется в различных областях. 
                                Наш коллектив включает в себя не только программистов, но также опытных дизайнеров, а также профессиональных проектных и продуктовых менеджеров. 
                                При выборе Codex Studio вы можете быть уверены, что ваш проект будет выполнен в срок и на высшем уровне качества.
                            </p>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img style="border-radius: 20px;" height="100%" width="100%" src="/media/code2.jpg" alt="">
                </div>
                <div class="col-6">
                    <img style="border-radius: 20px;" height="100%" width="100%" src="/media/programmer.webp" alt="">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row g-5">
                <div class="col-lg-3">
                    <div class="rn-about-card1 transparent-bg">
                        <div class="inner">
                            <h5 style="color: gray;" class="title" data-sal="slide-up" data-sal-duration="800" data-sal-delay="150">
                                О Codex Studio
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="rn-about-card1 transparent-bg">
                        <div class="inner">
                            <h3 class="title" data-sal="slide-up" data-sal-duration="800" data-sal-delay="150">
                                На данный момент Codex Studio объединяет более 10 экспертов, каждый из которых специализируется в различных областях. 
                                Наш коллектив включает в себя не только программистов, но также опытных дизайнеров, а также профессиональных проектных и продуктовых менеджеров. 
                                При выборе Codex Studio вы можете быть уверены, что ваш проект будет выполнен в срок и на высшем уровне качества.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About banner area End -->
    <div class="rn-service-area rn-section-gapTop">
        <div class="container">
            <div class="row mb--50 align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <h2 class="title mb--0" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">Наши услуги</h2>
                    <br>
                    <a href="">Посмотреть на услуги</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <h5 style="text-align: right; color: gray;" class="title mb--0" data-sal-delay="10" data-sal="slide-up" data-sal-duration="100">CODEX STUDIO - РАЗРАБОТКА САЙТОВ И МОБИЛЬНЫХ ПРИЛОЖЕНИЙ ДЛЯ ВАШЕГО БИЗНЕСА</h5>
                </div>
            </div>
            <div class="row g-5">
                <!-- start single service -->
                <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="rn-service-one color-shape-7">
                        <div class="inner">
                            <div class="icon">
                                <img src="{% static 'assets/images/icons/telegram.png' %}" alt="Shape">
                            </div>
                            <div class="subtitle"></div>
                            <div class="content">
                                <h4 class="title"><a href="">Telegram Bot</a></h4>
                                <p class="description">Telegram Bot - это автоматизированный многофункциональный помощник, который может показывать информацию 
                                    подписчикам и собирать информацию по запросу согласно заранее подготовленным сценариям.</p>
                            </div>
                        </div>
                        <a class="over-link" href=""></a>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="rn-service-one color-shape-7">
                        <div class="inner">
                            <div class="icon">
                                <img src="{% static 'assets/images/icons/website.png' %}" alt="Shape">
                            </div>
                            <div class="subtitle"></div>
                            <div class="content">
                                <h4 class="title"><a href="">Web Приложения</a></h4>
                                <p class="description">Веб-приложение — это программное обеспечение, которое запускается в веб-браузере. Компании должны обмениваться 
                                    информацией и оказывать услуги удаленно. Они используют веб-приложения для удобной и безопасной связи с клиентами.</p>
                            </div>
                        </div>
                        <a class="over-link" href=""></a>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="rn-service-one color-shape-7">
                        <div class="inner">
                            <div class="icon">
                                <img src="{% static 'assets/images/icons/android.png' %}" alt="Shape">
                            </div>
                            <div class="subtitle"></div>
                            <div class="content">
                                <h4 class="title"><a href="">Android Приложение</a></h4>
                                <p class="description">Android — популярная операционная система, построенная на ядре Linux. Используется в смартфонах, планшетах, электронных книгах, 
                                    цифровых проигрывателях, наручных часах, фитнес-браслетах, игровых приставках, ноутбуках, нетбуках, телевизорах и других устро</p>
                            </div>
                        </div>
                        <a class="over-link" href=""></a>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="rn-service-one color-shape-7">
                        <div class="inner">
                            <div class="icon">
                                <img src="{% static 'assets/images/icons/android.png' %}" alt="Shape">
                            </div>
                            <div class="subtitle"></div>
                            <div class="content">
                                <h4 class="title"><a href="">IOS Приложение</a></h4>
                                <p class="description">iOS — мобильная операционная система для смартфонов, электронных планшетов, носимых проигрывателей, разрабатываемая и выпускаемая американской компанией Apple. 
                                    Выпущена в 2007 году; первоначально — для iPhone и iPod touch, позже — для таких устройств, как</p>
                            </div>
                        </div>
                        <a class="over-link" href=""></a>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="rn-service-one color-shape-7">
                        <div class="inner">
                            <div class="icon">
                                <img src="{% static 'assets/images/icons/android.png' %}" alt="Shape">
                            </div>
                            <div class="subtitle"></div>
                            <div class="content">
                                <h4 class="title"><a href="">Интернет-Магазин</a></h4>
                                <p class="description">Интернет-магазин — форма электронной торговли, веб-сайт, который торгует товарами через интернет.</p>
                            </div>
                        </div>
                        <a class="over-link" href=""></a>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="rn-service-one color-shape-7">
                        <div class="inner">
                            <div class="icon">
                                <img src="{% static 'assets/images/icons/android.png' %}" alt="Shape">
                            </div>
                            <div class="subtitle"></div>
                            <div class="content">
                                <h4 class="title"><a href="">Сайт Визитка</a></h4>
                                <p class="description">Сайт-визитка — небольшой сайт, как правило, состоящий из одной (или нескольких) веб-страниц и содержащий основную информацию об организации, частном лице, компании, товарах или услугах, прейскуранты, контактные данные.</p>
                            </div>
                        </div>
                        <a class="over-link" href=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% include "includes/footer.html" %}
{% endblock %}