{% extends "includes/doc.html" %}
{% load static %}
{% block content %}
{% include "includes/header.html" %}


    <!-- start banner area -->
    <div class="banner-area banner-12 bg_image--23 bg_image with-down-shadow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-xii-wrapper">
                        <div class="banner-content-wrapper">
                            <p class="pre-title">CODEX STUDIO</p>
                            <h1 class="title">CODEX STUDIO - РАЗРАБОТКА САЙТОВ И МОБИЛЬНЫХ ПРИЛОЖЕНИЙ ДЛЯ ВАШЕГО БИЗНЕСА</h1>
                            <p class="post-title"></p>
                            <a class="btn btn-primary btn-large" href="about_us/">Узнать больше
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="rn-service-area rn-section-gapTop">
        <div class="container">
            <div class="row mb--50 align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <h2 class="title mb--0" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">Наши услуги</h2>
                    <br>
                    <a href="">Посмотреть на услуги</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <h5 style="text-align: right; color: gray;" class="title mb--0" data-sal-delay="10" data-sal="slide-up" data-sal-duration="100">CODEX STUDIO - РАЗРАБОТКА САЙТОВ И МОБИЛЬНЫХ ПРИЛОЖЕНИЙ ДЛЯ ВАШЕГО БИЗНЕСА</h5>
                </div>
            </div>
            <div class="row g-5">
                <!-- start single service -->
                <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="rn-service-one color-shape-7">
                        <div class="inner">
                            <div class="icon">
                                <img src="{% static 'assets/images/icons/telegram.png' %}" alt="Shape">
                            </div>
                            <div class="subtitle"></div>
                            <div class="content">
                                <h4 class="title"><a href="">Telegram Bot</a></h4>
                                <p class="description">Telegram Bot - это автоматизированный многофункциональный помощник, который может показывать информацию 
                                    подписчикам и собирать информацию по запросу согласно заранее подготовленным сценариям.</p>
                                <a class="read-more-button" href=""></a>
                            </div>
                        </div>
                        <a class="over-link" href="#"></a>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="rn-service-one color-shape-7">
                        <div class="inner">
                            <div class="icon">
                                <img src="{% static 'assets/images/icons/website.png' %}" alt="Shape">
                            </div>
                            <div class="subtitle"></div>
                            <div class="content">
                                <h4 class="title"><a href="">Web Приложения</a></h4>
                                <p class="description">Веб-приложение — это программное обеспечение, которое запускается в веб-браузере. Компании должны обмениваться 
                                    информацией и оказывать услуги удаленно. Они используют веб-приложения для удобной и безопасной связи с клиентами.</p>
                                <a class="read-more-button" href="#"></a>
                            </div>
                        </div>
                        <a class="over-link" href="#"></a>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="rn-service-one color-shape-7">
                        <div class="inner">
                            <div class="icon">
                                <img src="{% static 'assets/images/icons/android.png' %}" alt="Shape">
                            </div>
                            <div class="subtitle"></div>
                            <div class="content">
                                <h4 class="title"><a href="">Android Приложение</a></h4>
                                <p class="description">Android — популярная операционная система, построенная на ядре Linux. Используется в смартфонах, планшетах, электронных книгах, 
                                    цифровых проигрывателях, наручных часах, фитнес-браслетах, игровых приставках, ноутбуках, нетбуках, телевизорах и других устро</p>
                                <a class="read-more-button" href="#"></a>
                            </div>
                        </div>
                        <a class="over-link" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="about-div ">
        <div class="about-image">
            <img style="height: 400px; width: 600px;" src="{% static 'assets/images/collection/about_codex.webp' %}" alt="Изображение">
        </div>
        <div class="about-description">
            <h4 style="color: rgb(194, 194, 194);">О нас</h4>
            <h3>Мы на рынке 3 года</h3>
            <h3 style="color: gray;">Codex Studio</h3>
            <p style="font-size: 15px; padding-right: 150px;"> На данный момент Codex Studio объединяет более 10 экспертов, каждый из которых специализируется в различных областях. Наш коллектив включает в себя не только программистов, но также опытных дизайнеров, а также профессиональных проектных и продуктовых менеджеров.
             При выборе Codex Studio вы можете быть уверены, что ваш проект будет выполнен в срок и на высшем уровне качества.</p>
            <hr width="605px">
            <small> -- Сайт Визитка</small>
            <br>
            <small> -- Телеграм Бот</small>
            <br>
            <small> -- Андроид Приложения</small>
        </div>
    </div>
    
    <div class="rn-collection-area rn-section-gapTop">
        <div class="container">
            <div class="row mb--50 align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <h3 class="title mb--0" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">Наше портфолио</h3>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <h3 style="text-align: right;" class="title mb--0" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">CODEX STUDIO - РАЗРАБОТКА САЙТОВ И МОБИЛЬНЫХ ПРИЛОЖЕНИЙ ДЛЯ ВАШЕГО БИЗНЕСА</h3>
                </div>
            </div>

            <div class="row g-5">
                <!-- start single collention -->
                <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12">
                    <a href="product-details.html" class="rn-collection-inner-one">
                        <div class="collection-wrapper">
                            <div class="collection-big-thumbnail">
                                <img src="{% static 'assets/images/collection/visitka.webp' %}" alt="Nft_Profile">
                            </div>
                            <div class="collection-deg">
                                <h6 class="title">Megapolis</h6>
                                <span class="items">Сайт Визитка</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12">
                    <a href="product-details.html" class="rn-collection-inner-one">
                        <div class="collection-wrapper">
                            <div class="collection-big-thumbnail">
                                <img src="{% static 'assets/images/collection/vision.webp' %}" alt="Nft_Profile">
                            </div>
                            <div class="collection-deg">
                                <h6 class="title">Vision</h6>
                                <span class="items">Сайт Визитка</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12">
                    <a href="product-details.html" class="rn-collection-inner-one">
                        <div class="collection-wrapper">
                            <div class="collection-big-thumbnail">
                                <img src="{% static 'assets/images/collection/amanat.webp' %}" alt="Nft_Profile">
                            </div>
                            <div class="collection-deg">
                                <h6 class="title">Amanat City</h6>
                                <span class="items">Сайт Визитка</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12">
                    <a href="product-details.html" class="rn-collection-inner-one">
                        <div class="collection-wrapper">
                            <div class="collection-big-thumbnail">
                                <img src="{% static 'assets/images/collection/yurconsule.webp' %}" alt="Nft_Profile">
                            </div>
                            <div class="collection-deg">
                                <h6 class="title">YurConsule</h6>
                                <span class="items">Сайт Визитка</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container" style="margin-top: 50px; width: 100%; display: flex; background-color: transparent;">
        <div style="width: 25%; padding: 20px; text-align: center; background-color: transparent;" class="section">
            <h1 style="font-size: 48px;">3</h1>
            <p>Года опыта</p>
        </div>
        <div style="width: 25%; padding: 20px; text-align: center; background-color: transparent;" class="section">
            <h1 style="font-size: 48px;">8</h1>
            <p>Года опыта</p>
        </div>
        <div style="width: 25%; padding: 20px; text-align: center; background-color: transparent;" class="section">
            <h1 style="font-size: 48px;">1</h1>
            <p>Отзывов</p>
        </div>
        <div style="width: 25%; padding: 20px; text-align: center; background-color: transparent;" class="section">
            <h1 style="font-size: 48px;">6</h1>
            <p>Предоставляемых услуг</p>
        </div>
    </div>

    <div class="about-div">
        <div class="about-image">
        </div>
        <div class="about-description">
            <img height="50px" width="70px" src="{% static 'assets/images/icons/rating.png' %}" alt="">
            <h4>Заказали сайт у компании Codex Studio. Сделали в срок точно как надо)</h4>
            <hr>
            <img style="float: left; padding-right: 10px;" height="70px" width="70px" src="{% static 'assets/images/icons/android.png' %}" alt="Shape">
            <p>Эржан</p>
            <p style="color: gray;">C E O KB TRADE CO LTD</p>
        </div>
    </div>

    <div class="rn-collection-area rn-section-gapTop">
        <div class="container">
            <div class="row mb--50 align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                   <div style="float: left; margin-right: 20px;">
                        <img  width="50px"  src="{% static 'assets/images/icons/cube.png' %}" alt="">
                        </div>
                        <div>
                            <h4>24/7 онлайн поддержка</h4>
                            <p margin-left="50px" style="font-size: 15px; transform: translateX(70px); margin-bottom: 90px;">Если у вас возникли вопросы мы вам ответим быстро</p>
                        </div>
                        <div style="float: left;">
                            <div style="float: left; margin-right: 20px; float: left;">
                                <img  width="50px" src="{% static 'assets/images/icons/cube.png' %}" alt="">
                            </div>
                            <div>
                                <h4>24/7 онлайн поддержка</h4>
                                <p  style="font-size: 15px; transform: translateX(70px); margin-bottom: 90px;">Если у вас возникли вопросы мы вам ответим быстро</p>
                            </div>
                        </div>
                 </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <p>CODEX STUDIO</p>
                    <h2>CODEX STUDIO - РАЗРАБОТКА САЙТОВ И МОБИЛЬНЫХ ПРИЛОЖЕНИЙ ДЛЯ ВАШЕГО БИЗНЕСА</h2>
                    <div >
                         <p>Гарантия качества</p>
                    <div style="width: 550px; height: 5px; background-color: #fff;"></div>
                    <br>
                    <p>Гарантия скорости</p>
                    <div style="width: 550px; height: 5px; background-color: #fff;"></div>
                    </div>
                   

                </div>
            </div>
        </div>
    </div>
        
    
    <div class="rn-service-area rn-section-gapTop">
        <div class="container">
            <div class="row mb--50 align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <h2 class="title mb--0" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">Наши услуги</h2>
                    <br>
                    <a href="">Посмотреть на услуги</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <h5 style="text-align: right; color: gray;" class="title mb--0" data-sal-delay="10" data-sal="slide-up" data-sal-duration="100">CODEX STUDIO - РАЗРАБОТКА САЙТОВ И МОБИЛЬНЫХ ПРИЛОЖЕНИЙ ДЛЯ ВАШЕГО БИЗНЕСА</h5>
                </div>
            </div>
            <div class="row g-5">
                <!-- start single service -->
                <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="rn-service-one color-shape-7">
                        <div class="inner">
                            <div class="subtitle"></div>
                            <div class="content">
                                <span style="font-size: 15px;"><a href="">САЙТ ВИЗИТКА</a></span>
                                <br>
                                <span style="font-size: 60px; color: rgb(77, 231, 154);">250$</span> <span>/ примерно за проект</span>
                                <span>Сайт-визитка — небольшой сайт, как правило, состоящий из одной (или нескольких) веб-страниц и содержащий основную 
                                    информацию об организации, частном лице, компании, товарах или услугах, прейскуранты, контактные данные.</span>
                                <p></p>
                                <hr>
                                <small>- 1 год бесплатного обслуживания</small>
                                <br>
                                <small>- 1 год бесплатный сервер</small>
                                <br>
                                <small>- 24/7 онлайн поддержка</small>
                                <br>
                                <small>- Стильный дизайн</small>
                                <br>
                                <br>
                                <br>
                                <a href="" style="font-size: 20px;">Заказать</a>
                            </div>
                        </div>
                        <!-- <a class="over-link" href="#"></a> -->
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="rn-service-one color-shape-7">
                        <div class="inner">
                            <div class="subtitle"></div>
                            <div class="content">
                                <span style="font-size: 15px;"><a href="">ANDROID ПРИЛОЖЕНИЕ</a></span>
                                <br>
                                <span style="font-size: 60px; color: rgb(77, 231, 154);">300$</span> <span>/ примерно за проект</span>
                                <span>Android — популярная операционная система, построенная на ядре Linux. 
                                    Используется в смартфонах, планшетах, электронных книгах, цифровых проигрывателях, наручных часах, фитнес-браслетах, игровых приставках, ноутбуках, нетбуках, телевизорах и других устро</span>
                                <p></p>
                                <hr>
                                <small>- 1 год бесплатного обслуживания</small>
                                <br>
                                <small>- 1 год бесплатный сервер</small>
                                <br>
                                <small>- 24/7 онлайн поддержка</small>
                                <br>
                                <small>- Стильный дизайн</small>
                                <br>
                                <br>
                                <br>
                                <a href="" style="font-size: 20px;">Заказать</a>
                            </div>
                        </div>
                        <!-- <a class="over-link" href="#"></a> -->
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="rn-service-one color-shape-7">
                        <div class="inner">
                            <div class="subtitle"></div>
                            <div class="content">
                                <span style="font-size: 15px;"><a href="">WEB ВИЗИТКА</a></span>
                                <br>
                                <span style="font-size: 60px; color: rgb(77, 231, 154);">1000$</span> <span>/ примерно за проект</span>
                                <span>Веб-приложение — это программное обеспечение, которое запускается в веб-браузере. 
                                    Компании должны обмениваться информацией и оказывать услуги удаленно. 
                                    Они используют веб-приложения для удобной и безопасной связи с клиентами.
                                </span>
                                <p></p>
                                <hr>
                                <small>- 1 год бесплатного обслуживания</small>
                                <br>
                                <small>- 1 год бесплатный сервер</small>
                                <br>
                                <small>- 24/7 онлайн поддержка</small>
                                <br>
                                <small>- Стильный дизайн</small>
                                <br>
                                <br>
                                <br>
                                <a href="" style="font-size: 20px;">Заказать</a>
                            </div>
                        </div>
                        <!-- <a class="over-link" href="#"></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rn-collection-area rn-section-gapTop">
        <div class="container">
            <div class="row mb--50 align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <small>-- НОВОСТИ О CODEX STUDIO --</small>
                    <h3 class="title mb--0" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">Последние Новости</h3>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <a href="" style="text-align: right; display: block;">Посмотреть новости </a>
                </div>
            </div>
        </div>
   </div>

    
    <div class="vedio-area rn-section-gapTop">
        <div class="container">
            <div class="row mb--40">
                <div class="title-area text-center">
                    <h3 class="title mb--15">Партнеры CODEX</h3>
                    <p class="subtitle"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 position-relative">
                    <a id="play-video" class="video-play-button btn-large with-animation" href="#">
                        <span></span>
                    </a>
                    <!-- start vedio image wrapper -->
                    <div class="vedio-wrapper">
                        <img src="{% static 'assets/images/bg/bg-image-22.jpg' %}" alt="">
                    </div>
                    <!-- end vedio image wrapper -->
                    <div id="video-overlay" class="video-overlay">
                        <a class="video-overlay-close">×</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end nuron vedio area -->





    <!-- Modal -->
    <div class="rn-popup-modal share-modal-wrapper modal fade" id="shareModal" tabindex="-1" aria-hidden="true">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i data-feather="x"></i></button>
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content share-wrapper">
                <div class="modal-header share-area">
                    <h5 class="modal-title">Share this NFT</h5>
                </div>
                <div class="modal-body">
                    <ul class="social-share-default">
                        <li><a href="#"><span class="icon"><i data-feather="facebook"></i></span><span class="text">facebook</span></a></li>
                        <li><a href="#"><span class="icon"><i data-feather="twitter"></i></span><span class="text">twitter</span></a></li>
                        <li><a href="#"><span class="icon"><i data-feather="linkedin"></i></span><span class="text">linkedin</span></a></li>
                        <li><a href="#"><span class="icon"><i data-feather="instagram"></i></span><span class="text">instagram</span></a></li>
                        <li><a href="#"><span class="icon"><i data-feather="youtube"></i></span><span class="text">youtube</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="rn-popup-modal report-modal-wrapper modal fade" id="reportModal" tabindex="-1" aria-hidden="true">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i data-feather="x"></i></button>
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content report-content-wrapper">
                <div class="modal-header report-modal-header">
                    <h5 class="modal-title">Why are you reporting?
                    </h5>
                </div>
                <div class="modal-body">
                    <p>Describe why you think this item should be removed from marketplace</p>
                    <div class="report-form-box">
                        <h6 class="title">Message</h6>
                        <textarea name="message" placeholder="Write issues"></textarea>
                        <div class="report-button">
                            <button type="button" class="btn btn-primary mr--10 w-auto">Report</button>
                            <button type="button" class="btn btn-primary-alta w-auto" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer Area -->
    
    <!-- End Footer Area -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
    <!-- Start Top To Bottom Area  -->
    <div class="rn-progress-parent">
        <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

{% include "includes/footer.html" %}
{% endblock %}