{% extends "includes/doc.html" %}
{% load static %}
{% block content %}
{% include "includes/header.html" %}

    <div class="rn-about-banner-area rn-section-gapTop">
        <div class="container mb--30">
            <div class="row">
                <div class="col-12">
                    <p style="font-size: 25px;"> - CODEX STUDIO</p>
                    <h1 style="font-size: 120px;" data-sal="slide-up" data-sal-duration="800" data-sal-delay="150">Наши проекты</h1>
                </div>
            </div>
        </div>
        <div class="banner-area pt--25">
            <div class="container-fluid">
                <div class="row">
                    <div class="slider-style-2 slick-activation-01 slick-arrow-style-one slick-arrow-between">
    
                        <!-- Start Single Portfolio  -->
                        <div class="single-slide">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="product-details.html"><img src="{% static 'assets/images/collection/amanat.webp' %}" alt="NFT_portfolio"></a>
                                </div>
                                <div class="banner-read-thumb">
                                    <h4><a href="product-details.html">Cubic Bazier</a></h4>
                                    <span>John Lee</span>
                                </div>
                            </div>
                        </div>
                        <!-- Start Single Portfolio  -->
    
                        <!-- Start Single Portfolio  -->
                        <div class="single-slide">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="product-details.html"><img src="{% static 'assets/images/collection/vision.webp' %}" alt="NFT_portfolio"></a>
                                </div>
                                <div class="banner-read-thumb">
                                    <h4><a href="product-details.html">Faminho24</a></h4>
                                    <span>Mr.Alamin</span>
                                </div>
                            </div>
                        </div>
                        <!-- Start Single Portfolio  -->
            
                        <!-- Start Single Portfolio  -->
                        <div class="single-slide">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="product-details.html"><img src="{% static 'assets/images/collection/kbtrade.webp' %}" alt="NFT_portfolio"></a>
                                </div>
                                <div class="banner-read-thumb">
                                    <h4><a href="product-details.html">Bazier</a></h4>
                                    <span>Ms.Dhoni</span>
                                </div>
                            </div>
                        </div>
                        <!-- Start Single Portfolio  -->
                        <!-- Start Single Portfolio  -->
                        <div class="single-slide">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="product-details.html"><img src="{% static 'assets/images/collection/merrigarden.webp' %}" alt="NFT_portfolio"></a>
                                </div>
                                <div class="banner-read-thumb">
                                    <h4><a href="product-details.html">Bazier</a></h4>
                                    <span>Ms.Dhoni</span>
                                </div>
                            </div>
                        </div>
                        <!-- Start Single Portfolio  -->

                        <!-- Start Single Portfolio  -->
                        <div class="single-slide">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="product-details.html"><img src="{% static 'assets/images/collection/aylahostel.webp' %}" alt="NFT_portfolio"></a>
                                </div>
                                <div class="banner-read-thumb">
                                    <h4><a href="product-details.html">Bazier</a></h4>
                                    <span>Ms.Dhoni</span>
                                </div>
                            </div>
                        </div>
                        <!-- Start Single Portfolio  -->
                        <!-- Start Single Portfolio  -->
                        <div class="single-slide">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="product-details.html"><img src="{% static 'assets/images/collection/megapolis.webp' %}" alt="NFT_portfolio"></a>
                                </div>
                                <div class="banner-read-thumb">
                                    <h4><a href="product-details.html">Bazier</a></h4>
                                    <span>Ms.Dhoni</span>
                                </div>
                            </div>
                        </div>
                        <!-- Start Single Portfolio  -->

                        <!-- Start Single Portfolio  -->
                        <div class="single-slide">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="product-details.html"><img src="{% static 'assets/images/collection/vis.webp' %}" alt="NFT_portfolio"></a>
                                </div>
                                <div class="banner-read-thumb">
                                    <h4><a href="product-details.html">Bazier</a></h4>
                                    <span>Ms.Dhoni</span>
                                </div>
                            </div>
                        </div>
                        <!-- Start Single Portfolio  -->
    
                    </div>
                </div>
            </div>
        </div>
    </div>



{% include "includes/footer.html" %}
{% endblock %}